@{
    ViewBag.Title = "About";
}

<img src="http://www.maersk.com/Assets/Images/logoPrint.gif
" style="width:160px;height:50px;padding-top:10px;">

<img src="http://www.maersk.com/~/media/hardware/images/triple-e-intro.jpg
" style="width:1125px;height:300px;padding-top:10px">

<div class="jumbotron">
    <img src="http://www.maersk.com/Assets/Images/logoPrint.gif
    " style="width:160px;height:80px;padding-top:10px;">

    <h2>@ViewBag.Title.</h2>
    <h3>Our History</h3>
    <p> At the beginning of the 1920s, A.P. Moller considered possibilities of going into liner trade business. The tramp trade, where vessels sailed from port to port depending on the demand, was expected to lose ground to liners in time. On 12 July 1928, the vessel LEISE MÆRSK left Baltimore on its first voyage from the American East Coast via the Panama Canal to the Far East and back. The cargo consisted of Ford car parts and other general cargo. This heralded the start of Maersk's shipping services. Maersk Line began to grow in 1946 after the Second World War by transporting goods between America and Europe before expanding services in 1950. On 26 April 1956, ocean-borne container transport was introduced with the shipment of a Sea-Land container aboard the SS Ideal X from Port Newark, New Jersey, to Houston, Texas. In 1967, Anglo carrier P&O was part of the first European initiative, a pooling of liner services from four companies, into the new company Overseas Containers Limited (OCL). Both Sea-land and P&O would later be taken over by Maersk Line as it expanded operations between 1999 and 2005.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>CEO Soren Skou</h2>
        <img src="http://www.joc.com/sites/default/files/u1390826/S%C3%B8ren_Skou_01.jpg
    " style="width:550px;height:300px;padding-top:10px">
    </div>
    <div class="col-md-6">
        <br><br>
        <h3> Soren Skou has been CEO of Maersk Line since 2012 and as of October 2016, CEO of the Transport & Logistics division.</h3>
        <p>"We feel confident setting a new target for 2020: a 40% reduction of CO2 emissions per container-kilometre."</p>

    </div>

</div>