@{
    ViewBag.Title = "Home Page";
}

<img src="http://www.maersk.com/Assets/Images/logoPrint.gif
" style="width:160px;height:50px;padding-top:10px;">

<img src="http://www.maersk.com/~/media/hardware/images/triple-e-intro.jpg
" style="width:1125px;height:300px;padding-top:10px">

<div class="jumbotron">
    <img src="http://www.maersk.com/Assets/Images/logoPrint.gif
" style="width:80px;height:40px;padding-top:10px;">

    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. </p>
    <p>It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company founded in 1928.</p>
    <p><a href="http://www.maerskline.com/ms-my/about" class="btn btn-primary btn-lg">Get In Touch &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://worldmaritimenews.com/wp-content/uploads/2016/02/Maersk-Line-Eugen-1-366.jpg
" style="width:550px;height:300px;padding-top:10px">
    </div>
    <div class="col-md-4">
        <img src="http://worldmaritimenews.com/wp-content/uploads/2016/02/Maersk-Line-Eugen-1-366.jpg
    " style="width:550px;height:300px;padding-top:10px">
    </div>
    <div class="col-md-4">
        <img src="http://worldmaritimenews.com/wp-content/uploads/2016/02/Maersk-Line-Eugen-1-366.jpg
    " style="width:400px;height:300px;padding-top:10px">
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Global freight and shipping services</h2>
        <p>
            Being an international shipping carrier requires a strong global network.
            Explore our ever updating network of shipping lines and services worldwide.
        </p>

    </div>
    <div class="col-md-4">
        <h2>Our fleets calls 300 ports</h2>
        <p>
            Our customers serve clients all over the world, and therefore we are present in every major port from Dutch Harbour in Alaska to Port Chalmers on the Southern tip of New Zealand.

            Through our vast feeder network we even cover most minor ports throughout the world.
        </p>

    </div>
    <div class="col-md-4">
        <h2>400 TRADES</h2>
        <p>
            We cover the world through our vast network of
            shippping services, each of which interlink with eachother.
        </p>

    </div>
</div>